# http://lint.travis-ci.org/ -> syntax check

language : android
sudo: false # true로 하면 ndk git clone에서 실패함
jdk: oraclejdk7

env:
  global:
    - GH_TOKEN = 9729dc4acb0612be67b730f327b10c1303a7222d

android:
 components:
    - build-tools-23.0.1
    # The SDK version used to compile the project
    - android-23
    - extra-google-m2repository
    - extra-android-m2repository

    - extra-android-support
    - addon-google_apis-google-23

notifications:
  email: hwa.hyeon@insertcoin.me

addons:
  apt_packages:
    - swig

before_install:
  - chmod +x gradlew # 이거 안하면 ./gradlew build -> permission denied 에러
  - git clone https://github.com/urho3d/android-ndk.git $HOME/android-ndk-root
  - export ANDROID_NDK_HOME=$HOME/android-ndk-root
  - echo "sdk.dir=$ANDROID_HOME" > travisci.properties
  - echo "ndk.dir=$ANDROID_NDK_HOME" >> travisci.properties
  - echo "swig.path=`which swig`" >> travisci.properties
  - echo "ndk.debug=true" >> travisci.properties
  - cat travisci.properties

script:
  #- ./gradlew build assembleRelease
  - gradle clean build
  - gradle dist
  #- ./gradlew connectedCheck lint
  #- ./gradlew connectedInstrumentTest

after_success:
 - ./gradlew uploadArchives

before_deploy:
  - git config --global user.email "hwa.hyeon@insertcoin.me"
  - git config --global user.name "musiczoa"
  - export GIT_TAG=$TRAVIS_BRANCH-0.1.$TRAVIS_BUILD_NUMBER
  - git tag $GIT_TAG -a -m "Generated tag from TravisCI for build $TRAVIS_BUILD_NUMBER"
  - git push -q https://$TAGPERM@github.com/musiczoa/HelloMachineTest --tags
  - ls -R

deploy:
  provider: releases
  skip_cleanup: true
  api-key: ${GH_TOKEN} # GITHUB OAUTH TOKEN
  #file: ${HOME}/build/${TRAVIS_REPO_SLUG}/app/build/outputs/apk/HelloMachineTest.${TRAVIS_TAG}.apk
  file: "dist/app-release.apk"
  #file: app/build/outputs/apk/app-release.apk
  #file: "/app/build/outputs/apk/app-release.apk"
  #- ${HOME}/build/${TRAVIS_REPO_SLUG}/app/build/outputs/apk
  on:
    #tags: true
    tags: false
    all_branches: true
    repo: musiczoa/HelloMachineTest

# assembleDebug, build -> Success. debug -> Fail