language : android
sudo: false # true로 하면 ndk git clone에서 실패함
jdk: oraclejdk7

android:
 components:
    - build-tools-23.0.1
    # The SDK version used to compile the project
    - android-23
    - extra-google-m2repository
    - extra-android-m2repository

notifications:
  email: hwa.hyeon@insertcoin.me

addons:
  apt_packages:
    - swig

before_install:
  - chmod +x gradlew # 이거 안하면 ./gradlew build -> permission denied 에러
  - git clone https://github.com/urho3d/android-ndk.git $HOME/android-ndk-root
  - export ANDROID_NDK_HOME=$HOME/android-ndk-root
  - echo "sdk.dir=$ANDROID_HOME" > travisci.properties
  - echo "ndk.dir=$ANDROID_NDK_HOME" >> travisci.properties
  - echo "swig.path=`which swig`" >> travisci.properties
  - echo "ndk.debug=true" >> travisci.properties
  - cat travisci.properties

script:
  - ./gradlew build
  #- ./gradlew connectedCheck lint
  #- ./gradlew connectedInstrumentTest

after_success:
 - ./gradlew uploadArchives

deploy:
  provider: releases
  skip_cleanup: true
  api-key: ${GH_TOKEN}
  file: ${HOME}/build/${TRAVIS_REPO_SLUG}/app/build/outputs/apk/HelloMachineTest.${TRAVIS_TAG}.apk
  on:
    tags: true
    all_branches: true
    repo: musiczoa/HelloMachineTest

# assembleDebug, build -> Success. debug -> Fail